<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Food Entries Listing</h1>
        <a href="/food-entry/create" class="btn btn-primary btn-sm">Create</a>
        <table class="table">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Food Name</th>
                    <th>Calories</th>
                    <th>Meal</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let foodEntry of foodEntries) { %>
                    <tr>
                        <td>
                            <%= foodEntry.food_entries.dateTime.toLocaleDateString() %>
                            <%= foodEntry.food_entries.dateTime.toLocaleTimeString() %>
                        </td>
                        <td>
                            <%= foodEntry.food_entries.foodName %>
                        </td>
                        <td>
                            <%= foodEntry.food_entries.calories %>
                        </td>
                        <td>
                            <%= foodEntry.meals.name %>
                        </td>
                        <td>
                            <%= JSON.parse(foodEntry.food_entries.tags) %>
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm" href="food-entry/<%= foodEntry.food_entries.id %>/edit">Edit</a>
                            <a class="btn btn-danger btn-sm" href="food-entry/<%= foodEntry.food_entries.id %>/delete">Delete</a>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>
    </div>




</body>

</html>