<form method="GET">
    <div class="mt-3">
        <label>Food Name</label>
        <input type="text" name="foodName" value="<%= foodEntry.foodName %>" class="form-control" />
    </div>
    <div class="mt-3">
    <label class="form-label">Date</label>

    <div class="input-group">
        <select class="form-select" name="date_operator" style="max-width: 110px;">
            <option value="eq">==</option>
            <option value="gte">&ge;=</option>
            <option value="lte">&le;=</option>
        </select>

        <input 
            type="date" 
            class="form-control" 
            name="date"
            value="<%= foodEntry.date || '' %>"
        >
    </div>
</div>

    <div class="mt-3">
        <label class="form-label d-block">Meal:</label>

        <% for (let m of meals) { %>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="meal_id" id="meal_<%= m.id %>" value="<%= m.id %>"
                    <%=foodEntry.meal_id===m.id.toString() ? "checked" : "" %>
                >
                <label class="form-check-label" for="meal_<%= m.id %>">
                    <%= m.name %>
                </label>
            </div>

            <% } %>
    </div>

    <div class="mt-3">
        <label class="form-label d-block">Tags</label>

        <% for (let t of tags) { %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="tags" id="tag_<%= t.id %>" value="<%= t.id %>"
                    <%=foodEntry?.tags?.includes(t.id.toString()) ? "checked" : "" %>
                >
                <label class="form-check-label" for="tag_<%= t.id %>">
                    <%= t.name %>
                </label>
            </div>
            <% } %>
    </div>
    <input type="submit" value="Search" class="btn btn-primary mt-3" />
</form>